@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h2 {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 960px) {
  :root {
    font-size: 8px;
  }
}
